extends ../layouts/layout

block content
    div(class="col-md-12")
        form(target="", method="POST")
            label text:
            textarea(rows=3, name='text').form-control
            button.btn.btn-success(type='submit') submit